.wi {
  background: white;

  &_wrapper {
    padding: rem(100) 0;

    @include media-mx(991) {
      padding: rem(50) 0;
    }
  }

  &__title {
    margin-bottom: rem(50);
    @include adaptiv-font(45, 25);

    @include media-mx(991) {
      margin-bottom: rem(25);
    }
    @include media-mx(600) {
      text-align: center;
    }
  }

  &_row {
    display: flex;
    gap: rem(110);

    @include media-mx(991) {
      flex-direction: column;
    }
  }

  &_img {
    width: rem(430);

    @include media-mx(991) {
      display: none;
    }

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: rem(50);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(50);

    @include media-mx(600) {
      grid-template-columns: 1fr;
      gap: rem(25);
      text-align: center;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      span {
        color: var(--primary-color);
        @include adaptiv-font(30, 20);
      }

      p {
        @include adaptiv-font(18, 16);
        line-height: 1.4;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include media-mx(600) {
      text-align: center;
    }

    h4 {
      color: var(--primary-color);
      @include adaptiv-font(30, 20);
    }

    p {
      @include adaptiv-font(18, 16);
      line-height: 1.4;
    }
  }
}