@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@font-face {
	font-family: racama;
	font-display: swap;
	src: url("../fonts/racama.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

